.card{
    border: 2px solid black;
    border-radius: 25px;
   width: 400px;
    padding: 10px;
  
}
#pets{
display: flex;
justify-content: space-evenly;
}
img{
    width: 100%;
    border: radius 25px;
}
h4{
    text-align: right;
    color: #3c787e;
}
h2 {
    text-align: center;
    color: #d56f3e;
  }
  
span {
    color: #9d6f24;
  }
#cat{
    height: 291px;
    width: 400px;
  }
h1{
    text-align: center;
}