#Box{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin : 20px 1em 40px 2em;
    padding: 1em;
    transition: 1s;
    transition-timing-function: linear;
    transition: margin-top 2s; ;
    
}
#Box:hover{
    background-color: aqua;
    border-radius: 50%;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    background-image: url(city.jpg);
    }
    .List{
        display: inline;
        
    }
#Text{
    height: 600px;
    width: 400px;
    background-color: grey;
    border: 5px dotted black;
   background-image: url(city.jpg);
   background-size: contain;
}