button{
    background-color: yellow;
    color:blue;
}
div :nth-of-type(1){background-color: yellow;

}
h1::first-letter{
    color: red;
}
*{
    text-align: center;
}
#yes:checked + label{
    color: darkgreen;
}